{% for post in postslist | reverse %}
  <article class="prose postlist-item">
    <a href="{{ post.url | url }}" class="postlist-link">
      {% if post.data.title %}{{ post.data.title }}
      {% endif %}
    </a>
    <p class="postlink__tag">Under
    {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </p>
  </article>
{% endfor %}