<footer class="footer">
  <p>
    Built with <a href="https://www.11ty.dev/" rel="external" target="_blank">Eleventy</a> and hosted on <a href="https://www.netlify.com/" target="_blank" rel="external">Netlify</a>.
  </p>
  <p>
    All icons are from the <a href="https://thenounproject.com/" target="_blank" rel="external">Noun Project</a>.
  </p>
</footer>
