<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/assets/fonts/inter-regular.woff2" as="font" type="font/woff2" crossorigin="">
    {% set css %}
    {% include "critical.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    {% include "components/head.njk" %}
  </head>
  <body>
    <div class="wrapper">
      {% include "components/header.njk" %}

      <main class="flow {% if templateClass %}{{ templateClass }}{% endif %}">
        {{ content | safe }}
      </main>

      {% include "components/footer.njk" %}
    </div>
  </body>
</html>