---
layout: layouts/base.njk
templateClass: prose
---

<article class="article">
  <header>
    <h1>{{ title }}</h1>
    <p class="article__date">
      Planted <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      {% if updatedAt %}
        |
        Last tended <time datetime="{{ updatedAt | htmlDateString }}">{{ updatedAt | readableDate }}</time>
      {% endif %}
    </p>
    <section class="article__tags">
      {% include "components/tags.njk" %}
    </section>
  </header>

  {{ content | safe }}

</article>
