---
layout: layouts/base.njk
templateClass: article
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <p class="article__date">
      Planted <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      |
      Last tended <time datetime="{{ updatedAt | htmlDateString }}">{{ updatedAt | readableDate }}</time>
    </p>
    <section class="article__tags">
      {% include "components/tags.njk" %}
    </section>
  </header>

  {{ content | safe }}

</article>
