:root {
  /* Retrowave / Synthwave colors */
  /* Sony Dynamicron T-120 VHS */
  /**
      Working color combinations:
      - With bg as paper:
        - black, red, purple
      - With bg as yellow:
        - black
      - With bg as red:
        - paper
      - With bg as purple:
        - paper
      - With bg as black:
        - paper, yellow
    */
  --paper: #f2eee3;
  --yellow: #fec52e;
  --red: #b81937;
  --purple: #af01cf;
  --black: #10110b;
}
