.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--gutter);
  align-items: center;
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-m-l);
}

.logo {
  margin-bottom: 0;

  > a {
    text-decoration: none;
  }

  // @media (prefers-color-scheme: dark) {
  //   path {
  //     fill: var(--paper);
  //   }
  // }
}

.nav {
  justify-self: flex-end;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.nav-link {
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.4em;
}
