.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.logo {
  margin-bottom: 0;

  > a {
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    path {
      fill: var(--paper);
    }
  }
}

.nav {
  justify-self: flex-end;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}

.nav-link {
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.4em;

  &:hover {
    text-decoration-color: var(--red);

    @media (prefers-color-scheme: dark) {
      text-decoration-color: var(--yellow);
    }
  }
}
