---
layout: layouts/home.njk
---
<section class="flow intro">
  <h1>Hello, I'm Paula.</h1>
  <p>I am a software engineer that focuses on building interfaces for digital products using HTML, CSS and JavaScript.
  </p>
  <p>This is my digital garden where I write about things to better understand them.</p>

  <h2>Latest Posts</h2>

  {% set maxPosts = 5 %}
  {% set postslist = collections.blog | head(-maxPosts) %}
  {% include "postslist.njk" %}
</section>