// style.scss
@use "tokens/colors";
@use "tokens/spaces";
@use "tokens/types";

@use "reset";

@use "components/header";

:root {
  --background-color: var(--paper);
  --text-color: var(--black);

  @media (prefers-color-scheme: dark) {
    --text-color: var(--paper);
    --background-color: var(--black);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

.wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: clamp(16rem, 93vw, 75rem);
}

a {
  color: var(--text-color);
}
