// style.scss
@use "tokens/colors";
@use "tokens/spaces";
@use "tokens/types";

@use "reset";

@use "components/links";
@use "components/header";
@use "components/footer";
@use "components/tags";

@use "components/home";
@use "components/posts";

*:focus-visible {
  outline: 3px solid var(--red);
  outline-offset: 3px;
}

:root {
  --background-color: var(--paper);
  --text-color: var(--black);

  /** I'll enable dark mode after some more tweaks */
  // @include darkMode {
  //   --text-color: var(--paper);
  //   --background-color: var(--black);
  // }
}

::selection {
  background: var(--black);
  color: var(--paper);
}

body {
  font-size: var(--step-0);
}

.flow {
  flex: 1;
}

.flow > * + * {
  margin-top: var(--space-s-m);
}

.flow :is(pre, pre + *, figure, figure + *, h2, h3, h4) {
  margin-top: var(--space-l-xl);
}

.prose {
  --flow-space: var(--space-m-l);
  line-height: 1.8;
}

.prose > img,
.prose > table {
  width: 100%;
}

.prose figure img {
  border: 1px dashed var(--color-mid);
  margin-inline: auto;
}

.prose ul li::marker {
  color: var(--color-mid);
  content: "- ";
  font-weight: 700;
}

.prose :is(ol, ul) {
  padding-inline-start: 1.85em;
}

.prose li + li {
  margin-top: var(--space-s);
}

.prose :is(pre, pre + *, figure, figure + *, h2, h3, h4) {
  --flow-space: var(--space-l-xl);
}

.prose h1 + * {
  --flow-space: 0.5em;
}

.prose :is(h2 + *, h3 + *, h4 + *) {
  --flow-space: var(--space-s);
}

@media (max-width: 49em) {
  .prose a,
  .prose > * {
    word-wrap: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

@media (min-width: 50em) {
  .prose :is(ul, ol) {
    padding-inline-start: 0.15ch;
  }
}

:is(h1, h2, h3) {
  display: flex;
  gap: 1ch;
  line-height: 1.2;
}

.wrapper {
  height: 100vh;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-inline: auto;
  position: relative;
  width: clamp(16rem, 93vw, 75rem);
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-color);
}

h1 {
  font-size: var(--step-4);
  margin-block-end: var(--space-s-m);
}

blockquote {
  margin: var(--space-s-m) 0;
  padding-left: var(--space-s-l);
  border-left: 7px solid var(--paper-dark);
  color: var(--paper-dark);
}
