// style.scss
@use "tokens/colors";
@use "tokens/spaces";
@use "tokens/types";

:root {
  --background-color: var(--paper);
  --text-color: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--paper);
    --background-color: var(--black);
  }
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

p:last-child {
  margin-bottom: 0;
}

.wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: clamp(16rem, 93vw, 75rem);
}

.logo > a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .logo {
    path {
      fill: var(--paper);
    }
  }
}
