* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul:where([role="list"], [role="tablist"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-inline-size: 60ch;
  line-height: 1.5;
}

time {
  font-style: italic;
}
